!jest.config.js
*.d.ts
*/node_modules
*.env
*.pem
*.idea

# local README (I'm concerned about putting the api to hit in plaintext so I'm not pushing it for now)
README_LOCAL.md

# Rust Target folder
*/target

# CDK asset staging directory
*/.cdk.staging
*/cdk.out
*/infra/dist/*
